.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-principal {
  background-color: #31323B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #AFA186;
}

.botoes {
  font-size: calc(10px + 2vmin);
  color: #AFA186;
}

label{
  font-size: calc(6px + 2vmin);
}

input{
  display: block;
}

.formulario{
  display: table-column;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.nav-link {
  display: inline;
  padding: 0.5rem 1rem;
  color: #AFA186;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-color: #eaf0fc #eaf0fc #dee2e6;
  border-radius: 0.25rem;
  padding-right: 0;
  padding-left: 0;
  font-size: 13px;
  font-weight: bold;
  margin: 0 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.nav-link:hover{
  border-color: rgb(13, 99, 175);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
